* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: rgb(255, 255, 255);
    --light-grey: rgb(252, 252, 252);
    --border-grey: rgb(210, 210, 210);
    --border-blue: rgb(114, 116, 235);
    --logo-text: rgb(235, 235, 235);
}

body {
    display: flex;
    height: 100vh;
}

@media only screen and (max-width: 1500px) {
    .logo-wrapper {
        display: none;
    }
}

.logo-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-width: 30%;
    max-width: 30%;
}

.logo-text {
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 150px;
    min-width: 100%;
    min-height: 150px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trademark {
    width: 75px;
    height: auto;
}

.photo-credit {
    font-size: 10px;
    margin-bottom: 25px;
}

.logo-text, .photo-credit {
    color: var(--logo-text);
}

a {
    color: inherit;
}

.instructions {
    font-size: 35px;
}

.logo-section, .logo-wrapper {
    background-image: url(images/background.jpg);
    
}

div.logo-wrapper {
    flex: 3 3;
    min-width: 30%;
}

.form-section {
    flex: 7 7;
    display: flex;
    flex-direction: column;
}

.title-section {
    background-color: var(--light-grey);
    flex: 1;
    font-size: 30px;
    font-weight: bold;
    padding: 25px 100px;
}

legend {
    font-size: 40px;
    position: absolute;
    left: 60px;
    font-weight: 600; 
}

.inputs {
    display: flex;
    justify-content: space-between;
    gap: 25px 50px;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    padding-top: 75px;
}

input {
    width: max-content;
    border-radius: 5px;
    appearance: none;
    outline: none;
}

input:valid {
    border: 1px solid lightgreen;
}

input:invalid {
    border: 1px solid red;
}

input:invalid:placeholder-shown {
    border: 1px solid var(--border-grey);
}

input:focus:focus {
    box-shadow: 0 2px 5px -2px rgb(92, 88, 88);
    border: 1px solid var(--border-blue);
}

label {
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    color: grey;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 25px 165px 25px 35px;
    box-shadow: 0 20px 25px -20px var(--border-grey);
    z-index: 10;
}

.info {
    background-color: var(--white);
    border: none;
    position: relative;
}



.login-section {
    background-color: var(--light-grey);
    flex: 1;
    padding: 50px 0 0 100px;
    
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 235px;
    max-width: 235px;
}

.create-account-button {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(128, 130, 238);
    border: 1px solid black;
}
